<div class="alerts" ng-show="alerts.length > 0">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="page-heading">
	<div class="page-title pull-left">
		<span>{{title}}</span>
	</div>
	<div class="btn-toolbar pull-right">
		<div class="btn-group">
			<div class="btn btn-default" ng-click="submit()">Save Assignment</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<p class="text-muted">{{subtitle}}</p>
</div>
<hr>
<label for="assignment-name">Assignment Name:</label>
<p class="text-muted">Set the assignment's name.</p>
<input type="text" class="form-control" name="assignment-name" ng-model="assignment.name" size="40"/>
<hr>
