<div class="alerts" ng-show="alerts.length > 0">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="page-heading">
	<div class="page-title pull-left">
		<span>{{title}}</span>
	</div>
	<div class="btn-toolbar pull-right">
		<div class="btn-group">
			<div class="btn btn-default" ng-click="submit()">Save Assignment</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<p class="text-muted">{{subtitle}}</p>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<label for="assignment-name">Assignment Name:</label>
		<p class="text-muted">Set the assignment's name.</p>
		<input type="text" class="form-control" name="assignment-name" ng-model="assignment.name" size="40" />
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<label>Patient</label>
		<p class="text-muted">This assignment has been assigned to.</p>
		<h4>{{assignment.patient.name}}</h4>
		<div class="patient-actions">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<a class="btn btn-default" href="/#/patient/edit/{{assignment.patient._id}}">
						Edit Patient
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<label>Manage Exercises</label>
		<p class="text-muted">Add an exercises to this assignment.</p>
	</div>
	<div class="col-md-6">
		<label>Exercise List</label>
		<p class="text-muted">This is a list of all exercises in the system.</p>
		<div kare-item-list data-is-source="true" data-list-items="exercisesSource" data-other-list-items="assignment.exercises" data-filter="filterAssignedExercises(item)"></div>
	</div>
	<div class="col-md-6">
		<label>Assigned Exercises</label>
		<p class="text-muted">This is a list of exercises in this assignment.</p>
		<div kare-item-list data-is-source="false" data-list-items="assignment.exercises" data-other-list-items="exercisesSource"  data-filter="dummyFilter(item)"></div>
	</div>
</div>