<div class="alerts" ng-show="alerts.length > 0">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="page-heading">
	<div class="page-title pull-left">
		<span>{{title}}</span>
	</div>
	<div class="btn-toolbar pull-right">
		<div class="btn-group">
			<div class="btn btn-default" ng-click="submit()">Save Exercise</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<p class="text-muted">{{subtitle}}</p>
</div>
<hr>
<label for="exercise-name">Exercise Name:</label>
<p class="text-muted">Give this exercise a simple name to be used throughout the system.</p>
<input class="form-control" name="exercise-name" ng-model="exercise.name" size="40"/>
<hr>
<label id="instructions" for="exercise-name">Instructions:</label>
<p class="text-muted">Define each step required to complete this exercise here.</p>
<div kare-list data-list-items='exercise.instructions'></div>
<hr>
<label id="quiz" for="exercise-name">Quiz Questions:</label>
<p class="text-muted">Define each question to be asked of the caregiver here.</p>
<div kare-list data-list-items='exercise.quiz.questions'></div>